*.DS_Store
*.pyc
__pycache__
.ipynb_checkpoints
/mrg/glove*.*
/mrg/models/

.vscode/

mrg/data/GoogleNews-vectors-negative300.bin.gz

mrg/data/SiameseLSTM.h5

*.ipynb

*.h5

mrg-gru/data/GoogleNews-vectors-negative300.bin.gz
